<header id="top-header">
    <div class="siteName">
        <a href="/" title="Return to home page">REAL Motors EXPRESS</a>
    </div>
    <div id="tools">
        <% if (user && user.account_id) { %>
            <a href="/account" title="View your account">Welcome <%= user.first_name %></a>
            <a href="/account/logout" title="Logout">Logout</a>
        <% } else { %>
            <a href="/account/login" title="Click to log in">My Account</a>
        <% } %>
    </div>
</header>