<div id="message-container">
  <% if (messages && messages.notice) { %>
    <% messages.notice.forEach(msg => { %>
      <div class="notice"><%= msg %></div>
    <% }); %>
  <% } %>
</div>

<h1><%= title %></h1>

<div class="management-links">
  <a href="/inv/add-classification" class="btn">Add New Classification</a>
  <a href="/inv/add-inventory" class="btn">Add New Vehicle</a>
</div>
